@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(209, 209, 209);
    }

    .frem {
        width: 18rem;
        height: 25rem;
        background: rgb(255, 255, 255);
        border-radius: 23px;
        overflow: hidden;
        position: relative;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .frem .top-img-back {
        width: 100%;
        height: 10rem;
        background: url('./back.jpg') no-repeat;
        background-position: center;
        background-size: 18rem;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .frem .top-img-back .logo {
        width: 3rem;
        height: 3rem;
        background: white;
        border-radius: 50%;
        padding: 6px;
        position: absolute;
        top: 152px;
        box-shadow: 0px 8px 20px #00000042;
        border: 3px solid #ff1a63;
    }

    .frem .top-img-back .logo img {
        width: 100%;
    }

    .frem p {
        position: absolute;
        top: 221px;
        text-align: center;
        padding: 0px 15px 0px 15px;
        color: #6a6a6a;
        font-size: unset;
    }

    .frem a {
        position: absolute;
        top: 22rem;
        background: #ff0047;
        padding: 12px;
        border-radius: 10px;
        text-decoration: none;
        color: white;
    }